<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SEO Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>SEO Analyzer</h1>
    <form action="/" method="post">
        <label for="url">Enter Website URL:</label>
        <input type="text" id="url" name="url">
        <button type="submit">Analyze</button>
    </form>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>